.filters-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}

.filter-options {
  display: flex;
  gap: 20px;
}

.reset-filters {
  margin-left: auto;
}

.balance-row {
  display: flex;
  justify-content: space-between;;
  gap: 10px;
}

.balance-card {
  flex: 1;
  max-width: 350px;
  height: 120px
}

.positive {
  color: #13b7fd;
  font-size: 2rem;
}
.negative {
  color: #ef0000;
  font-size: 2rem;
}
