<header>
  <mat-toolbar>
    <span>Finzar</span>
    <span style="flex: 1 1 auto;"></span>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" style="flex: 1; display: flex; justify-content: center;">
      <mat-tab label="Transactions" />
      <mat-tab label="Savings" />
      <mat-tab label="Budgets" />
    </mat-tab-group>

    <span style="flex: 1 1 auto;"></span>

    <button mat-fab extended>
      <span style="display: flex; align-items: center; justify-content: space-between; width: 100%">
        <mat-icon>person</mat-icon>
        <span style="margin: 0 8px;">User</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </span>
    </button>
  </mat-toolbar>
</header>
