<div class="balance-row">
  <mat-card class="balance-card">
    <mat-card-header>
      <mat-card-title>Total Balance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p [ngClass]="{
      'positive': totalBalance >= 0,
      'negative': totalBalance < 0}">
        {{ totalBalance }} PEN
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="balance-card">
    <mat-card-header>
      <mat-card-title>Total Period Change</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p [ngClass]="{
      'positive': totalBalance >= 0,
      'negative': totalBalance < 0}">
        {{ totalPeriodChange }} PEN
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="balance-card">
    <mat-card-header>
      <mat-card-title>Total Period Expenses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p class="negative">
        {{ totalExpenses }} PEN
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="balance-card">
    <mat-card-header>
      <mat-card-title>Total Period Income</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p class="positive">
        {{ totalIncome }} PEN
      </p>
    </mat-card-content>
  </mat-card>
</div>
